<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <h5>{{title}}</h5>
              </div>
              <div class="card-body custom-datatable">
                    <ng-content></ng-content>
                    <ngx-datatable #table class="bootstrap" [rows]="data"
                        [columns]="columns" [columnMode]="columnMode"
                        [headerHeight]="headerHeight" [footerHeight]="footerHeight" [rowHeight]="rowHeight" [limit]="10">

                            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                                [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                            </ngx-datatable-column>
                    </ngx-datatable>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid Ends -->