
<app-datatable-table [url]="url" [title]="title" [sarchString]="sarchString" [sarchColumn]="sarchColumn">
  <div class="row">
      <input type='text' class="filter-ngx form-control col-4" placeholder='Pesquise por nome'
      (keyup)="updateFilter($event,'name')" />
  </div>
</app-datatable-table>

