<div class="card">
	<div class="card-header">
		<h5>Bar Chart</h5>
	</div>
	<div class="card-body chart-block">
		<canvas baseChart class="chart" 
				[datasets]="data" 
				[labels]="labels"
				[options]="barChartOptions" 
				[colors]="barChartColors" 
				[legend]="showLegend"
				[chartType]="barChartType" 
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)">
		</canvas>
	</div>
</div>