<div class="col call-chat-sidebar col-sm-12">
	<div class="card">
		<div class="card-body chat-body">
			<div class="chat-box">
				<!-- Chat left side Start-->
				<div class="chat-left-aside">
					<div class="media">
						<img class="rounded-circle user-image" [src]="profile?.profile" alt="">
						<div class="about">
							<div class="name f-w-600">{{profile?.name}}</div>
							<div class="status">{{profile?.status}}</div>
						</div>
					</div>
					<div class="people-list" id="people-list">
						<div class="search">
							<form class="theme-form">
								<div class="form-group">
									<input class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
									(keyup)="searchTerm(searchText)" type="text" placeholder="search"><i class="fa fa-search"></i>
								</div>
							</form>
						</div>
						<ul class="list">
							<ng-container *ngFor="let user of searchUsers">
								<li class="clearfix" *ngIf="user.authenticate != 1">
									<a href="javascript:void(0)" (click)="userChat(user.id)">
										<img class="rounded-circle user-image" [src]="user?.profile" alt="">
										<div class="status-circle" [ngClass]="{'online' : user.online, 'offline' : !user.online}"></div>
										<div class="about">
											<div class="name">{{user?.name}}</div>
											<div class="status">{{user?.status}}</div>
										</div>
									</a>
								</li>
							</ng-container>
							<ng-container *ngIf="!searchUsers.length">
								<div class="search-not-found chat-search text-center">
									<div>
										<img src="assets/images/search-not-found.png" alt="" class="second-search">
										<p>Sorry, We didn't find any results matching this search</p>
									</div>
								</div>
							</ng-container>
						</ul>
					</div>
				</div>
				<!-- Chat left side Ends-->
			</div>
		</div>
	</div>
</div>