<div class="chat-history chat-msg-box custom-scrollbar">
	<ul>
		<li *ngFor="let chat of chats?.message" [ngClass]="{'clearfix': chat.sender == profile.id }">
			<div class="message my-message mb-0" *ngIf="chat.sender != profile.id; else myChat">
				<img class="rounded-circle float-left chat-user-img img-30" [src]="chatUser?.profile" alt="">
				<div class="message-data text-right">
					<span class="message-data-time">{{chat?.time}}</span>
				</div> {{chat?.text}}
			</div>
			<ng-template #myChat>
				<div class="message other-message pull-right">
					<img class="rounded-circle float-right chat-user-img img-30" [src]="profile?.profile" alt="">
					<div class="message-data">
						<span class="message-data-time">{{chat?.time}}</span>
					</div> {{chat?.text}}
				</div>
			</ng-template>
		</li>
		<ng-container *ngIf="!chats?.message.length">
			<div class="image-not-found">
				<div class="d-block start-conversion">
					<img src="assets/images/start-conversion.jpg">
				</div>
			</div>
		</ng-container>
	</ul>
</div>