<!-- end chat-history-->
<form #chatForm="ngForm" (ngSubmit)="sendMessage(chatForm)">
	<div class="chat-message clearfix">
		<div class="row">
			<div class="col-xl-12 d-flex">
				<div class="smiley-box bg-primary">
					<div class="picker"><img src="assets/images/smiley.png" alt=""></div>
				</div>
				<div class="input-group text-box">
					<input class="form-control input-txt-bx" [class.border-danger]="error" [(ngModel)]="chatText"
						id="message-to-send" ngModel type="text" name="message" placeholder="Type a message......">
					<div class="input-group-append">
						<button class="btn btn-primary" (click)="sendMessage(chatForm)" type="button">SEND</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>