<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Support Ticket List</h5><span>List of ticket opend by customers</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4 col-sm-6">
              <div class="card ecommerce-widget">
                <div class="card-body support-ticket-font">
                  <div class="row">
                    <div class="col-5"><span>Order</span>
                      <h3 class="total-num counter" class="counter" [CountTo]="2563" [from]="0" [duration]="2"></h3>
                    </div>
                    <div class="col-7">
                      <div class="text-md-right">
                        <ul>
                          <li>Profit<span class="product-stts txt-success ml-2">8989<i
                                class="icon-angle-up f-12 ml-1"></i></span></li>
                          <li>Loss<span class="product-stts txt-danger ml-2">2560<i
                                class="icon-angle-down f-12 ml-1"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="progress-showcase">
                    <div class="progress sm-progress-bar">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6">
              <div class="card ecommerce-widget">
                <div class="card-body support-ticket-font">
                  <div class="row">
                    <div class="col-5"><span>Pending</span>
                      <h3 class="total-num counter" class="counter" [CountTo]="8943" [from]="0" [duration]="2"></h3>
                    </div>
                    <div class="col-7">
                      <div class="text-md-right">
                        <ul>
                          <li>Profit<span class="product-stts txt-success ml-2">8989<i
                                class="icon-angle-up f-12 ml-1"></i></span></li>
                          <li>Loss<span class="product-stts txt-danger ml-2">2560<i
                                class="icon-angle-down f-12 ml-1"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="progress-showcase">
                    <div class="progress sm-progress-bar">
                      <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6">
              <div class="card ecommerce-widget">
                <div class="card-body support-ticket-font">
                  <div class="row">
                    <div class="col-5"><span>Running</span>
                      <h3 class="total-num counter" class="counter" [CountTo]="2500" [from]="0" [duration]="2"></h3>
                    </div>
                    <div class="col-7">
                      <div class="text-md-right">
                        <ul>
                          <li>Profit<span class="product-stts txt-success ml-2">8989<i
                                class="icon-angle-up f-12 ml-1"></i></span></li>
                          <li>Loss<span class="product-stts txt-danger ml-2">2560<i
                                class="icon-angle-down f-12 ml-1"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="progress-showcase mt-4">
                    <div class="progress sm-progress-bar">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6">
              <div class="card ecommerce-widget">
                <div class="card-body support-ticket-font">
                  <div class="row">
                    <div class="col-5"><span>Smooth</span>
                      <h3 class="total-num counter" class="counter" [CountTo]="2060" [from]="0" [duration]="2"></h3>
                    </div>
                    <div class="col-7">
                      <div class="text-md-right">
                        <ul>
                          <li>Profit<span class="product-stts txt-success ml-2">8989<i
                                class="icon-angle-up f-12 ml-1"></i></span></li>
                          <li>Loss<span class="product-stts txt-danger ml-2">2560<i
                                class="icon-angle-down f-12 ml-1"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="progress-showcase mt-4">
                    <div class="progress sm-progress-bar">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6">
              <div class="card ecommerce-widget">
                <div class="card-body support-ticket-font">
                  <div class="row">
                    <div class="col-5"><span>Done</span>
                      <h3 class="total-num counter" class="counter" [CountTo]="5600" [from]="0" [duration]="2"></h3>
                    </div>
                    <div class="col-7">
                      <div class="text-md-right">
                        <ul>
                          <li>Profit<span class="product-stts txt-success ml-2">8989<i
                                class="icon-angle-up f-12 ml-1"></i></span></li>
                          <li>Loss<span class="product-stts txt-danger ml-2">2560<i
                                class="icon-angle-down f-12 ml-1"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="progress-showcase mt-4">
                    <div class="progress sm-progress-bar">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6">
              <div class="card ecommerce-widget">
                <div class="card-body support-ticket-font">
                  <div class="row">
                    <div class="col-5"><span>Cancle</span>
                      <h3 class="total-num counter" class="counter" [CountTo]="2560" [from]="0" [duration]="2"></h3>
                    </div>
                    <div class="col-7">
                      <div class="text-md-right">
                        <ul>
                          <li>Profit<span class="product-stts txt-success ml-2">8989<i
                                class="icon-angle-up f-12 ml-1"></i></span></li>
                          <li>Loss<span class="product-stts txt-danger ml-2">2560<i
                                class="icon-angle-down f-12 ml-1"></i></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="progress-showcase">
                    <div class="progress sm-progress-bar">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <div class="server-datatable">
              <div class="table-responsive">
                <ng2-smart-table [settings]="settings" [source]="support"></ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->