<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<app-chat-contactlist 
					[contacts]="users" 
					[loggedUser]="profile"
			>
			</app-chat-contactlist>
		</div>
		<div class="col-9">
			<app-chat-conversation [loggedUser]="profile"></app-chat-conversation>
		</div>    
	</div>
</div>