<app-datatable-table [url]="url" [title]="title" [sarchString]="sarchString" [sarchColumn]="sarchColumn">
    <div class="row">
        <input type='text' class="filter-ngx form-control col-4" placeholder='Pesquise por nome'
        (keyup)="updateFilter($event,'name')" />

        <input type='text' class="filter-ngx form-control col-4" placeholder='Pesquise por sobrenome'
        (keyup)="updateFilter($event,'lastname')" />

        <input type='text' class="filter-ngx form-control col-4" placeholder='Pesquise por email'
        (keyup)="updateFilter($event,'email')" />
    </div>
</app-datatable-table>
