<div class="card">
	<div class="card-header">
		<h5>Doughnut Chart</h5>
	</div>
	<div class="card-body chart-block">
		<canvas baseChart class="chart" 
				[data]="data" 
				[labels]="labels"
				[options]="options" 
				[chartType]="doughnutChartType" 
				[colors]="doughnutChartColors"
				(chartHover)="chartHovered($event)" 
				(chartClick)="chartClicked($event)">
		</canvas>
	</div>
</div>