<div class="card">
	<div class="card-header">
		<h5>Line Graph</h5>
	</div>
	<div class="card-body chart-block">
		<canvas baseChart class="chart" 
				[datasets]="data" 
				[labels]="labels"
				[options]="options" 
				[colors]="lineChartColors" 
				[legend]="showLegend"
				[chartType]="type" 
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)">
		</canvas>
	</div>
</div>