<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12">
			<app-chartjs-bar [labels]="barChartLabels" [data]=barChartData></app-chartjs-bar>
        </div>
        <div class="col-xl-6 col-md-12">
            <app-chartjs-line [options]="lineChartOptions" [labels]="lineChartLabels" [data]="lineChartData"></app-chartjs-line>
        </div>
        <div class="col-xl-6 col-md-12">
            <app-chartjs-pie [labels]="pieChartLabels" [data]="pieChartData"></app-chartjs-pie>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->