<!-- Container-fluid starts-->
<div class="container-fluid product-wrapper" [class.sidebaron]="sidebaron">
  <div class="product-grid">
    <div class="feature-products">
      <div class="row">
        <div class="col-md-6 products-total">

          <div class="square-product-setting d-inline-block"><a class="icon-grid grid-layout-view" (click)="gridOpen()"
              data-original-title="" title="">
              <svg class="feather feather-grid" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
              </svg></a></div>
          <div class="square-product-setting d-inline-block"><a class="icon-grid m-0 list-layout-view"
              (click)="listOpen()" data-original-title="" title="">
              <svg class="feather feather-list" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <line x1="8" y1="6" x2="21" y2="6"></line>
                <line x1="8" y1="12" x2="21" y2="12"></line>
                <line x1="8" y1="18" x2="21" y2="18"></line>
                <line x1="3" y1="6" x2="3" y2="6"></line>
                <line x1="3" y1="12" x2="3" y2="12"></line>
                <line x1="3" y1="18" x2="3" y2="18"></line>
              </svg></a></div>
          <span class="d-none-productlist filter-toggle">
            <a (click)="openMediaFilter()">
              <h6 class="mb-0">Filters
                <span class="ml-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-down toggle-data">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </span>
              </h6>
            </a>
          </span>
          <div class="grid-options d-inline-block" *ngIf="gridOptions">
            <ul>
              <li><a class="product-2-layout-view" (click)="grid2()" data-original-title="" title=""><span
                    class="line-grid line-grid-1 bg-primary"></span><span
                    class="line-grid line-grid-2 bg-primary"></span></a> </li>
              <li><a class="product-3-layout-view" (click)="grid3()" data-original-title="" title=""><span
                    class="line-grid line-grid-3 bg-primary"></span><span
                    class="line-grid line-grid-4 bg-primary"></span><span
                    class="line-grid line-grid-5 bg-primary"></span></a></li>
              <li><a class="product-4-layout-view" (click)="gridOpen()" data-original-title="" title=""><span
                    class="line-grid line-grid-6 bg-primary"></span><span
                    class="line-grid line-grid-7 bg-primary"></span><span
                    class="line-grid line-grid-8 bg-primary"></span><span
                    class="line-grid line-grid-9 bg-primary"></span></a></li>
              <li><a class="product-6-layout-view" (click)="grid6()" data-original-title="" title=""><span
                    class="line-grid line-grid-10 bg-primary"></span><span
                    class="line-grid line-grid-11 bg-primary"></span><span
                    class="line-grid line-grid-12 bg-primary"></span><span
                    class="line-grid line-grid-13 bg-primary"></span><span
                    class="line-grid line-grid-14 bg-primary"></span><span
                    class="line-grid line-grid-15 bg-primary"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-right"><span class="f-w-600 m-r-10">Showing Products 1 - 24 Of 200 Results</span>
          <div class="select2-drpdwn-product select-options d-inline-block">
            <select class="form-control btn-square" name="select" (change)="onChangeSorting($event.target.value)">
              <option value="low">Lowest Prices</option>
              <option value="high">Highest Prices</option>
            </select>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="product-sidebar" [class.open]="open">
            <div class="filter-section">
              <div class="card">
                <div class="card-header">
                  <h6 class="mb-0 f-w-600">Filters<span class="pull-right"><i class="fa fa-chevron-down toggle-data"
                        (click)="openFilter()"></i></span></h6>
                </div>
                <div class="left-filter" *ngIf="show">
                  <div class="card-body filter-cards-view animate-chk">
                    <div class="product-filter">
                    </div>
                    <div class="product-filter">
                      <app-brand [tagsFilters]="tags" (tagFilters)="updateTagFilters($event)" *ngIf="tags.length">
                      </app-brand>
                    </div>
                    <div class="product-filter slider-product">
                      <app-color [colorsFilters]="colors" (colorFilters)="updateColor($event)" [class.active]="active"
                        *ngIf="colors.length"></app-color>
                    </div>
                    <div class="product-filter pb-0">
                      <app-price (priceFilters)="updatePriceFilters($event)"></app-price>
                    </div>
                    <div class="product-filter new-products">
                      <h6 class="f-w-600">New Products</h6>
                      <div class="item">
                        <owl-carousel-o [options]="customOptions" style="width: 310.5px; margin-right: 30px;">
                          <ng-container *ngFor="let slide of products">
                            <ng-template carouselSlide>
                              <div class="product-box row">
                                <div class="product-img col-md-6">
                                  <div class="item">
                                    <img src="assets/images/ecommerce/01.jpg">
                                  </div>
                                </div>
                                <div class="product-details col-md-6 text-left"><span><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning"></i></span>
                                  <p class="mb-0">{{slide.name}}</p>
                                  <div class="product-price">${{slide.price}}</div>
                                </div>
                              </div>
                              <div class="product-box row">
                                <div class="product-img col-md-6">
                                  <div class="item">
                                    <img src="assets/images/ecommerce/03.jpg">
                                  </div>
                                </div>
                                <div class="product-details col-md-6 text-left"><span><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning"></i></span>
                                  <p class="mb-0">{{slide.name}}</p>
                                  <div class="product-price">${{slide.price}}</div>
                                </div>
                              </div>
                              <div class="product-box row">
                                <div class="product-img col-md-6">
                                  <div class="item">
                                    <img src="assets/images/ecommerce/02.jpg">
                                  </div>
                                </div>
                                <div class="product-details col-md-6 text-left"><span><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning mr-1"></i><i
                                      class="fa fa-star font-warning"></i></span>
                                  <p class="mb-0">{{slide.name}}</p>
                                  <div class="product-price">${{slide.price}}</div>
                                </div>
                              </div>
                            </ng-template>
                          </ng-container>
                        </owl-carousel-o>
                      </div>
                    </div>
                    <div class="product-filter text-center"><img class="img-fluid banner-product"
                        src="assets/images/ecommerce/banner.jpg" alt="" data-original-title="" title=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <form>
            <div class="form-group m-0">
              <input class="form-control" type="search" [(ngModel)]="term" name="search" placeholder="Search.."><i
                class="fa fa-search"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="product-wrapper-grid" [class.list-view]="listView" style="opacity: 1;">
      <div class="row">
        <div [class.col-xl-3]="col_xl_3" [class.xl-4]="xl_4" [class.col-sm-3]="col_sm_3"
          [class.col-xl-4]="col_xl_4" [class.col-sm-4]="col_sm_4" [class.col-xl-6]="col_xl_6"
          [class.col-sm-6]="col_sm_6" [class.col-xl-12]="col_xl_12" [class.col-xl-2]="col_xl_2"
          *ngFor="let product of filterItems() | orderBy:sortByOrder | filter : term">
          <div class="card">
            <div class="product-box">
              <div class="product-img">
                <div class="ribbon ribbon-danger" *ngIf="product.status == 'sale'">{{product.status}}</div>
                <div class="ribbon ribbon-success ribbon-right" *ngIf="product.status == '50%'  ">{{product.status}}
                </div>
                <div class="ribbon ribbon-secondary ribbon-vertical-left" *ngIf="product.status == 'gift'"><i
                    class="icon-gift"></i></div>
                <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-info"
                  *ngIf="product.status == 'love'  "><i class="icofont icofont-love"></i>
                </div>
                <div class="ribbon ribbon ribbon-clip ribbon-warning" *ngIf="product.status == 'Hot' ">
                  {{product.status}}</div>
                <a [href]="[product.img]"> <img class="img-fluid" [src]="[product.img]" alt=""></a>
                <div class="product-hover">
                  <ul>
                    <li><i class="icon-shopping-cart" [routerLink]="['/ecommerce/add-cart']"
                        (click)=addToCart(product)></i></li>
                    <li><i class="icon-eye" (click)="openProductDetail(content,product.id)"></i></li>
                    <ng-template #content let-modal>
                      <div class="modal-header" style="border-bottom: 0px;">
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="padding: 0%;">
                        <app-quick-view [productDetail]="productDetail"></app-quick-view>
                      </div>
                    </ng-template>
                    <li>
                      <button class="btn" type="button" data-original-title="" title=""><i
                          class="icofont icofont-heart" [routerLink]="['/ecommerce/wish-list']"
                          (click)=addToWishlist(product)></i></button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="product-details">
                <a [routerLink]="['/ecommerce/product-details', product.id]">
                  <h5>{{product.name}}</h5>
                </a>
                <div class="product-price">
                  <del>{{product.discountPrice | currency:productsService?.currency:'symbol'}}</del>{{product.price | currency:productsService?.currency:'symbol'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div *ngIf="(filterItems() | filter:term).length == 0">
            <div class="search-not-found text-center">
              <img src="assets/images/search-not-found.png" alt="" class="second-search">
              <p>Sorry, We didn't find any results matching this search</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->