<div class="col call-chat-body">
	<div class="card">
        <div class="card-body p-0">
			<div class="row chat-box">
				<!-- Chat right side start-->
				<div class="col pr-0 chat-right-aside">
					<!-- chat start-->
					<div class="chat">
						<!-- chat-header start-->
						<div class="chat-header clearfix">
							<img class="rounded-circle" [src]="chatUser?.profile" alt="">
							<div class="about">
								<div class="name">{{chatUser?.name}}  <span class="font-primary f-12"
									*ngIf="chatUser?.typing">Typing...</span></div>
								<div class="status digits">{{chatUser?.seen}}</div>
							</div>
							<ul class="list-inline float-left float-sm-right chat-menu-icons">
								<li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-search"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-clip"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-headphone-alt"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-video-camera"></i></a></li>
								<li class="list-inline-item toogle-bar"><a href="javascript:void(0)"><i class="icon-menu"></i></a></li>
							</ul>
						</div>
						<!-- chat-header end-->
						<app-chat-messagefeed [loggedUser]="profile"></app-chat-messagefeed>
						<app-chat-messagecomposer [loggedUser]="profile" [chatWith]="chatUser" (sendMessage)="sendMessage($event)"></app-chat-messagecomposer>
						<!-- end chat-message-->
						<!-- chat end-->
						<!-- Chat right side ends-->
					</div>
				</div>
			</div>
        </div>
	</div>
</div>